.anh {
  position: relative;
  display: block;
  height: 200px;
  width: 200px;
  margin-left: 9rem;
  margin-right: 2rem;
  margin-bottom: 0.5rem;
}
.card{
  position: relative;
  margin-left: 35%;
  flex: 1 0 25rem;
  max-width: 30rem;
  max-height: 50rem;
  transform: rotateY('-0.5rem');
  box-shadow: 0.5rem 0.75rem 1.5rem #bbbbbb;
  background-color: goldenrod;
}
.title {
  text-align: center;
  font-size: larger;
}
.col-4{
  width: 100px;
  height: 100px;
  background: red;
  transition: width 2s;
}
.text {
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: large;
}
